body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
  }
  
  .container {
    font-size: 10px;
    width: 40em;
    height: 40em;
    position: relative;
    overflow: hidden;
  }
  
  .sun {
    position: absolute;
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    background-image: linear-gradient(to right, #FFA500, #ffff00);
    border-radius: 50%;
    box-shadow: 0 0 3em white;
  }
  
  .earth,
  .moon,
  .mars {
    position: absolute;
    border-style: solid;
    border-color: white transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
  }
  
  .earth {
    top: 5em;
    left: 5em;
    width: 30em;
    height: 30em;
    animation: rahul 36.5s linear infinite;
  }
  
  .moon {
    top: 0;
    right: 0;
    width: 8em;
    height: 8em;
    animation: rahul 5s linear infinite;
  }
  
  .mars {
    top: 10em;
    right: 10em;
    width: 20em;
    height: 20em;
    animation: rahul 24s linear infinite;
  }
  
  .earth::before,
  .moon::before,
  .mars::before {
    content: '';
    position: absolute;
    border-radius: 50%;
  }
  
  .earth::before {
    top: 2.8em;
    right: 2.8em;
    width: 3em;
    height: 3em;
    background-image: linear-gradient(to left, #0000cd, #add8e6);
    animation: changeDirection 36.5s linear infinite;
  }
  
  .moon::before {
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-color: silver;
  }
  
  .mars::before {
    top: 2em;
    right: 2em;
    width: 2em;
    height: 2em;
    background-image: linear-gradient(to left, #ff4500, #ff8c00);
    
  }
  
  @keyframes rahul {
    50% {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes changeDirection {
    50% {
      background-image: linear-gradient(to right, #0000cd, #add8e6);
    }
    to {
      background-image: linear-gradient(to left, #0000cd, #add8e6);
    }
  }
  